body {
  font-family: sans-serif;
  margin: 15px;
  max-width: 1280px;
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.first{
  margin-top: 10%;
}
h1, h2{
  text-align: center;
  color: bisque;
  font-family: 'Viaoda Libre', cursive;
  font-size: 5rem !important;
}
.letter{
  margin: 5rem;
  text-align: justify;
  color:brown;
  font-size: 1.5rem;
}
.truly{
  text-align: right;
}
.picture{
  text-align: center;
}
img{
  width: 300px;
  padding: 3px;
  margin: 5px;
}

footer{
  margin-top: 15px;
  color: blanchedalmond;
}
.daddy{
  color: red;
}

